name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # 1. Scan de Secrets (TruffleHog)
      - name: TruffleHog Secret Scan
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          extra_args: --debug --only-verified
      # 2. Scan de Vulnérabilités (Trivy)
      - name: Build image for scanning
        run: cd app && docker build -t test-image .
      
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'test-image'
          format: 'table'
          exit-code: '0' # On met 0 pour ne pas bloquer le déploiement si faille (pour le projet école)
          ignore-unfixed: true
          vuln-type: 'os,library'

  deploy:
    needs: security-check
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            if [ ! -d "cloud-sentinel" ]; then
              git clone https://github.com/${{ github.repository }}.git cloud-sentinel
            fi
            cd cloud-sentinel
            git pull origin main
            cd app
            # Reconstruction avec les vrais outils
            sudo docker build -t sentinel-app .
            sudo docker stop sentinel || true
            sudo docker rm sentinel || true
            sudo docker run -d -p 80:80 --name sentinel sentinel-app