name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # 1. Scan de Secrets
      - name: TruffleHog Secret Scan
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          extra_args: --debug --only-verified 

      # 2. Préparation du Cache Docker (NOUVEAU)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 3. Construction optimisée (NOUVEAU)
      - name: Build Docker Image with Cache
        uses: docker/build-push-action@v4
        with:
          context: ./app
          load: true
          tags: test-image:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # 4. Scan Trivy
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'test-image:latest'
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'

  deploy:
    needs: security-check
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            if [ ! -d "cloud-sentinel" ]; then
              git clone https://github.com/${{ github.repository }}.git cloud-sentinel
            fi
            cd cloud-sentinel
            git pull origin main
            cd app
            # Sur le serveur, on force le build sans cache pour être sûr d'avoir la dernière version
            sudo docker build -t sentinel-app .
            sudo docker stop sentinel || true
            sudo docker rm sentinel || true
            sudo docker run -d -p 80:80 --name sentinel sentinel-app